@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}
body{
    background-color: #212428;
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */


header{
    background-color: #212428;
    position: fixed;
    width: 100%;
    align-items: center;
}

header nav{
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

nav div{
    display: flex;
    align-items: center;
}

header nav h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
}


nav .texto a{
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-size: 0.6rem;
    margin: 0 1.5rem;
}
nav .texto .DivInfo{
    color: white;
}

nav .boton {
    height: 2rem;
    width: 6rem;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #212428;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

nav .boton a{
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #DE0748;
}

nav .boton:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

nav .boton{
    transition: background 0.3s,
                transform 0.2s;
}

nav .texto .TextoDos:hover{
    text-decoration: underline;

}
nav .texto .DivInfo:hover{
    text-decoration: underline;

}
/* SECCION1 */
.espacio{
    padding-bottom: 8rem;
}
.hero{
    background-color: #212428;
    display: flex;
    align-items: end;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5rem;
    justify-content: space-between;
    border-bottom: 0.09rem solid #111214;
}

.hero .texto{
    width: 60%;
}

.hero .DivInfo{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.hero .texto .TextoDos{
    font-family: 'PT Sans', sans-serif;
    color: gainsboro;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.hero .texto h1{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .texto strong{
    color: #DE0748;
    font-weight: bolder;
}

.hero .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.hero .texto .TextoTres{
    font-family: 'Poppins', sans-serif;
    color: #C4D0DF;
    font-size: 0.7rem;
    width: 100%;
}

.hero .DivInfo p{
    color: gainsboro;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
   
}

.hero .DivInfo .DivInfoDos{
    display: flex;
    padding-bottom: 1rem;
}
.hero .DivInfo .icono{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}
.hero .icono img{
    height: 0.8rem;
    width: 0.8rem;
  
}

.hero .icono:hover{
    transform: scale(1.2);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);

}

.hero .icono{
    transition: background 0.3s,
    transform 0.2s;
}

.hero .imagen{
    margin-left: 2rem;
    height: 22rem;
    width: 20rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

/* SECCION2 */

.SectionDos{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 4rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionDos .DivInfo{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.SectionDos .texto p{
    font-family: 'PT Sans', sans-serif;
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.SectionDos .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: #C4D0DF;
    font-size: 2.5rem;
}

.SectionDos .DivInfo .DivInfoDos{
    height: 10rem;
    width: 15rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionDos  .DivInfoDos h3{
    color: #C4D0DF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
   
}

.SectionDos  .DivInfoDos p{
    color: #C4D0DF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
}

.SectionDos .DivInfoDos img{
    height: 2rem;
    margin-bottom: 1rem;
}
/* SECTION3 */

.SectionTres{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 5rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionTres .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionTres .DivInfo{
    display: flex;
    justify-content: space-between;
}

.SectionTres .DivInfo img{
    height: 8.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.SectionTres .texto p{
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.SectionTres .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: #C4D0DF;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.SectionTres .DivInfo .DivInfoDos{
    
    width: 13rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
    
}

.SectionTres .DivInfoDos .TextoDos .TextoTres{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #DE0748;
}

.SectionTres .DivInfoDos h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    color: #C4D0DF;
    margin-bottom: 0.5rem;
}

.SectionTres .DivInfoDos .TextoDos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.SectionTres .DivInfoDos .icono{
    height: 0.5rem;
    margin-right: 0.2rem;
}

.SectionTres .DivInfoDos p{
    color: gray;
    font-size: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.SectionTres .TextoDos div{
    display: flex;

}

.SectionTres .DivInfoDos:hover{
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

.SectionTres .DivInfoDos{
    transition: background 0.3s,
                transform 0.2s;
}
/* SECTION4 */

.SectionCuatro{
    width: 75%;
    margin: 0 auto;
    background-color: #212428;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionCuatro .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionCuatro .texto p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #DE0748;
}

.SectionCuatro .texto h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    color: gainsboro;
}
/* SECTON5 */

.SectionCinco{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionCinco .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionCinco .DivInfo{
    display: flex;
    justify-content: space-between;
  
}

.SectionCinco .DivInfo .DivInfoDos{
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 16.2rem;
}

.SectionCinco .texto p{
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.SectionCinco .texto h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    color: gainsboro;
    margin-bottom: 2rem;
}

.SectionCinco .DivInfo img{
    height: 9rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.SectionCinco .DivInfoDos h3{
    font-family: 'Poppins', sans-serif;
    color: #C4D0DF;
    margin-bottom: 0.2rem;
}

.SectionCinco .DivInfoDos p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    
}

.SectionCinco .DivInfoDos h4{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 0.7rem;
    font-weight: normal;
    
}

.SectionCinco .DivInfoDos strong{
    color: #C4D0DF;
    font-weight: normal;
}

.SectionCinco .DivInfoDos .TextoDos{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.SectionCinco .DivInfoDos .TextoTres{
    display: flex;
    margin-bottom: 1rem;
}

.SectionCinco .DivInfoDos .icono{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 0.3rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCinco .DivInfoDos .icono img{
    border-radius: 0;
    margin: 0;
    height: 0.8rem;
    width: 0.8rem;
    
}

.SectionCinco .DivInfoDos .icono:hover{
    transform: scale(1.2);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);

}

.SectionCinco .DivInfoDos .icono{
    transition: background 0.3s,
    transform 0.2s;
}

.SectionCinco .DivInfo .DivInfoTres{
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
}

.SectionCinco .divuno{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.SectionCinco .divuno p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divuno input{
    width: 11.5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    color: white;
}

.SectionCinco .divdos p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divdos input{
    width: 100%;
    height: 1.8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    color: white;
}

.SectionCinco .divtres p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divtres input{
    width: 100%;
    height: 8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    margin-bottom: 1rem;
    color: white;
    
}

.SectionCinco .divtres .boton{
    height: 2rem;
    width: 7rem;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #212428;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCinco .boton a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SectionCinco .divtres .boton p{
    align-items: center;
    justify-content: center;
    color: #DE0748;
    margin-right: 0.3rem;
}

.SectionCinco .divtres .boton img{
    margin: 0;
    height: 0.5rem;
}

.SectionCinco .divtres .boton:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

.SectionCinco .divtres .boton{
    transition: background 0.3s,
    transform 0.2s;
}
/* FOOTER */

footer{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-bottom: 2rem;
}

footer p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 0.6rem;
}