@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}
body{
    background-color: #212428;
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */


header{
    background-color: #212428;
    position: fixed;
    width: 100%;
    align-items: center;
}

header nav{
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

nav div{
    display: flex;
    align-items: center;
}

header nav h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
}


nav .texto a{
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-size: 0.6rem;
    margin: 0 1.5rem;
}
nav .texto .DivInfo{
    color: white;
}

nav .boton {
    height: 2rem;
    width: 6rem;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #212428;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

nav .boton a{
    margin: 0;
    align-items: center;
    justify-content: center;
    color: red;
}

nav .boton:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

nav .boton{
    transition: background 0.3s,
                transform 0.2s;
}

nav .texto .TextoDos:hover{
    text-decoration: underline;

}
nav .texto .DivInfo:hover{
    text-decoration: underline;

}
/* SECCION1 */
.espacio{
    padding-bottom: 8rem;
}
.hero{
    background-color: #212428;
    display: flex;
    align-items: end;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 3rem;
    justify-content: space-between;
    
}

.hero .texto{
    width: 60%;
}

.hero .DivInfo{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.hero .texto .TextoDos{
    font-family: 'PT Sans', sans-serif;
    color: gainsboro;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.hero .texto h1{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .texto strong{
    color: red;
    font-weight: bolder;
}

.hero .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.hero .texto .TextoTres{
    font-family: 'Poppins', sans-serif;
    color: gainsboro;
    font-size: 0.7rem;
    width: 100%;
}

.hero .DivInfo p{
    color: gainsboro;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
   
}

.hero .DivInfo .DivInfoDos{
    display: flex;
    padding-bottom: 1rem;
}
.hero .DivInfo .icono{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}
.hero .icono img{
    height: 0.8rem;
    width: 0.8rem;
  
}

.hero .icono:hover{
    transform: scale(1.2);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);

}

.hero .icono{
    transition: background 0.3s,
    transform 0.2s;
}

.hero .imagen{
    margin-left: 2rem;
    height: 22rem;
    width: 20rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

/* SECCION2 */

.SectionDos{
    background-color: darkkhaki;
    width: 75%;
    margin: 0 auto;
}

.SectionDos .DivInfo{
    display: flex;
    margin-top: 2rem;
    
}

/* SECTION3 */

.SectionTres{
    background-color: darkolivegreen;
    width: 75%;
    margin: 0 auto;
}

.SectionTres .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionTres .DivInfo{
    display: flex;
}

/* SECTION4 */

.SectionCuatro{
    width: 75%;
    margin: 0 auto;
    background-color: rgb(99, 76, 99);
}

.SectionCuatro .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTON5 */

.SectionCinco{
    background-color: rgb(87, 87, 122);
    width: 75%;
    margin: 0 auto;
}

.SectionCinco .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionCinco .DivInfo{
    display: flex;
}

/* FOOTER */

footer{
    background-color: darkgrey;
    width: 75%;
    margin: 0 auto;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}