@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}
body{
    background-color: #212428;
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */


header{
    background-color: #212428;
    position: fixed;
    width: 100%;
    align-items: center;
}

header nav{
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

nav div{
    display: flex;
    align-items: center;
}

header nav h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-left: 0rem;
}


nav .texto a{
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-size: 0.6rem;
    margin: 0 1.5rem;
}
nav .texto .DivInfo{
    color: white;
}

nav .boton {
    height: 2rem;
    width: 6rem;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #212428;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

nav .boton a{
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #DE0748;
    font-weight: bolder;
}

nav .boton:hover{
   
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

nav .boton{
    transition: background 0.3s,
                transform 0.2s;
}

nav .texto .TextoDos:hover{
    text-decoration: underline;

}
nav .texto .DivInfo:hover{
    text-decoration: underline;

}

header .imagen img{
    height: 5rem;
    display: none;
}
/* SECCION1 */
.espacio{
    padding-bottom: 8rem;
}
.none{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    display: none;
}
.hero{
    background-color: #212428;
    display: flex;
    align-items: end;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5rem;
    justify-content: space-between;
    border-bottom: 0.09rem solid #111214;
}

.hero .texto{
    width: 60%;
}

.hero .DivInfo{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.hero .texto .TextoDos{
    font-family: 'PT Sans', sans-serif;
    color: #C4D0DF;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.hero .texto h1{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .texto strong{
    color: #DE0748;
    font-weight: bolder;
}

.hero .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.hero .texto .TextoTres{
    font-family: 'Poppins', sans-serif;
    color: #C4D0DF;
    font-size: 0.7rem;
    width: 100%;
}

.hero .DivInfo p{
    color: #C4D0DF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
   
}

.hero .DivInfo .DivInfoDos{
    display: flex;
    padding-bottom: 1rem;
}
.hero .DivInfo .icono{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}
.hero .icono img{
    height: 0.8rem;
    width: 0.8rem;
  
}

.hero .icono:hover{
    transform: scale(1.2);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);

}

.hero .icono{
    transition: background 0.3s,
    transform 0.2s;
}

.hero .imagen{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    height: 22rem;
    width: 20rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.hero .imagen img{
    height: 30rem;
    margin-left: 2rem;
}

/* SECCION2 */

.SectionDos{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 4rem;
    border-bottom: 0.09rem solid #111214;
}


.SectionDos .DivInfo{
    
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.SectionDos .texto p{
    font-family: 'PT Sans', sans-serif;
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.SectionDos .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: #C4D0DF;
    font-size: 2.5rem;
}

.SectionDos .DivInfo .DivInfoDos{
    height: 10rem;
    width: 10rem;
   
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}



.SectionDos  .DivInfoDos h3{
    color: #C4D0DF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
   
}

.SectionDos  .DivInfoDos p{
    color: #C4D0DF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
}

.SectionDos .DivInfoDos img{
    height: 2rem;
    margin-bottom: 1rem;
}
/* SECTION3 */

.SectionTres{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 5rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionTres .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionTres .DivInfo{
    display: flex;
    justify-content: space-between;
}

.SectionTres .DivInfo img{
    height: 8.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.SectionTres .texto p{
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.SectionTres .texto h2{
    font-family: 'PT Sans', sans-serif;
    color: #C4D0DF;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.SectionTres .DivInfo .DivInfoDos{
    
    width: 13rem;
    
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
    
}

.SectionTres .DivInfoDos .TextoDos .TextoTres{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #DE0748;
}

.SectionTres .DivInfoDos h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    color: #C4D0DF;
    margin-bottom: 0.5rem;
}

.SectionTres .DivInfoDos .TextoDos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.SectionTres .DivInfoDos .icono{
    height: 0.5rem;
    margin-right: 0.2rem;
}

.SectionTres .DivInfoDos p{
    color: gray;
    font-size: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.SectionTres .TextoDos div{
    display: flex;

}

.SectionTres .DivInfoDos:hover{
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

.SectionTres .DivInfoDos{
    transition: background 0.3s,
                transform 0.2s;
}
/* SECTION4 */

.SectionCuatro{
    width: 75%;
    margin: 0 auto;
    background-color: #212428;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionCuatro .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionCuatro .texto p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #DE0748;
}

.SectionCuatro .texto h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    color: #C4D0DF;
}

.SectionCuatro .TextoDos p{
    color: #DE0748;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.08rem;
}

.SectionCuatro .TextoDos h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    color: #C4D0DF;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.SectionCuatro .divuno{
    display: flex;
}

.SectionCuatro .divtres .hr1{
    border: none;
    background-color: #111214;
    width: 0.2rem;
    height: 2rem;
    margin-left: 0.3rem;
}

.SectionCuatro .divtres .circle{
   
    border: 0.2rem solid #111214;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
}

.SectionCuatro .divtres .hrhorizontal{
    border: none;
    background-color: #111214;
    width: 0.9rem;
    height: 0.3rem;
}

.SectionCuatro .divtres .hr2{
    border: none;
    background-color: #111214;
    width: 0.2rem;
    height: 12rem;
    margin-left: 0.3rem;
}

.SectionCuatro .divtres .hr3{
    border: none;
    background-color: #111214;
    width: 0.2rem;
    height: 11rem;
    margin-left: 0.3rem;
}

.SectionCuatro .divtres .hr4{
    border: none;
    background-color: #111214;
    width: 0.2rem;
    height: 8rem;
    margin-left: 0.3rem;
}

.SectionCuatro .divtres .divcuatro{
    display: flex;
    align-items: center;
}
.SectionCuatro .TextoDos .divdos{
    
    width: 17rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCuatro .divdos h3{
    color: #C4D0DF;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.SectionCuatro .divdos .divtres{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.09rem solid #1a1d20;
    padding-bottom: 1rem;
    
}

.SectionCuatro .divdos .divtres p{
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-size: 0.6rem;
}

.SectionCuatro .divdos .divtres strong{
    height: 0.7rem;
    width: 1.7rem;
    margin-top: 0.4rem;
    font-family: 'PT Sans', sans-serif;
    color: #DE0748;
    font-size: 0.6rem;
    padding: 0.4rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    border-radius: 0.2rem;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCuatro .divdos .TextoTres{
    margin-top: 1rem;
    color: gray;
    font-family: 'PT Sans', sans-serif;
}

/* SECTON5 */

.SectionCinco{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.09rem solid #111214;
}

.SectionCinco .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionCinco .DivInfo{
    display: flex;
    justify-content: space-between;
  
}

.SectionCinco .DivInfo .DivInfoDos{
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 16.2rem;
}

.SectionCinco .texto p{
    color: #DE0748;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.SectionCinco .texto h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    color: #C4D0DF;
    margin-bottom: 2rem;
}

.SectionCinco .DivInfo .imagen{
    height: 9rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.SectionCinco .DivInfoDos h3{
    font-family: 'Poppins', sans-serif;
    color: #C4D0DF;
    margin-bottom: 0.2rem;
}

.SectionCinco .DivInfoDos p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    
}

.SectionCinco .DivInfoDos h4{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 0.7rem;
    font-weight: normal;
    
}

.SectionCinco .DivInfoDos strong{
    color: #C4D0DF;
    font-weight: normal;
}

.SectionCinco .DivInfoDos .TextoDos{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.SectionCinco .DivInfoDos .TextoTres{
    display: flex;
    margin-bottom: 1rem;
}

.SectionCinco .DivInfoDos .icono{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 0.3rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #1e2024;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCinco .DivInfoDos .icono img{
    border-radius: 0;
    margin: 0;
    height: 0.8rem;
    width: 0.8rem;
    
}

.SectionCinco .DivInfoDos .icono:hover{
    transform: scale(1.2);
    background: linear-gradient(to bottom right, #1f2225, #3d444b);

}

.SectionCinco .DivInfoDos .icono{
    transition: background 0.3s,
    transform 0.2s;
}

.SectionCinco .DivInfo .DivInfoTres{
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
}

.SectionCinco .divuno{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.SectionCinco .divuno p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divuno input{
    width: 11.5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    color: white;
}

.SectionCinco .divdos p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divdos input{
    width: 100%;
    height: 1.8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    color: white;
}

.SectionCinco .divtres p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.SectionCinco .divtres textarea{
    
    width: 100%;
    height: 8rem;
    border-radius: 0.3rem;
    background-color: #191B1E;
    border: 0.001rem solid rgb(24, 24, 24);
    border-bottom: 0.06rem solid rgb(77, 77, 77);
    border-top: 0.09rem solid black;
    margin-bottom: 1rem;
    color: white;
    resize: none;
}

.SectionCinco .divtres .boton{
    height: 2rem;
    width: 7rem;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: -0.2rem -0.2rem 0.7rem #2c3136, 0.5rem 0.2rem 0.7rem #1a1d20;
    background-color: #212428;
    background: linear-gradient(to bottom right, #1E2125, #23272B);
}

.SectionCinco .boton a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SectionCinco .divtres .boton p{
    align-items: center;
    justify-content: center;
    color: #DE0748;
    margin-right: 0.3rem;
}

.SectionCinco .divtres .boton img{
    margin: 0;
    height: 0.5rem;
}

.SectionCinco .divtres .boton:hover{
   
    background: linear-gradient(to bottom right, #1f2225, #3d444b);
}

.SectionCinco .divtres .boton{
    transition: background 0.3s,
    transform 0.2s;
}
/* FOOTER */

footer{
    background-color: #212428;
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-bottom: 2rem;
}

footer p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 0.6rem;
}

/* RESPONSIVE */

@media (min-width: 1920px){
    header nav{
        height: 5rem;
    }
    header h2{
        font-size: 3rem;
       
    }
    header nav .DivInfo{
        font-size: 1rem;
        margin-right: 2rem;
    }
    header nav .TextoDos{
        font-size: 1rem;
        margin-right: 2rem;
    }
    nav .boton {
        height: 3.5rem;
        width: 11rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    nav .boton a{
        font-size: 1rem;
    }
    .espacio{
        padding-bottom: 14rem;
    }
    .hero{
        padding-bottom: 10rem;
    }
    .hero .texto{
        width: 50%;
    }
    .hero .texto .TextoDos{
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
        margin-bottom: 2rem;
    }
    .hero .texto h1{
        font-size: 5rem;
    }
    .hero .texto h2{
        font-size: 4rem;
    }
    .hero .texto .TextoTres{
        font-size: 1.4rem;
        margin-bottom: 11rem;
    }
    .hero .DivInfo p{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .hero .DivInfo .icono{
        height: 4rem;
        width: 4rem;
        margin-right: 2rem;
        border-radius: 0.4rem;
    }
    .hero .icono img{
        height: 1.4rem;
        width: 1.4rem;
    }
    .hero .imagen{
        height: 40rem;
        width: 38rem;
        border-radius: 0.5rem;
    }
    .hero .imagen img{
        height: 55rem;
    }
    .SectionDos{
        margin-top: 1rem;
        padding-bottom: 5rem;
    }
    .SectionDos .texto p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .SectionDos .texto h2{
        font-size: 5rem;
        margin-bottom: 5rem;
    }
    .SectionDos .DivInfo .DivInfoDos{
        height: 20rem;
        width: 20rem;
        margin-bottom: 2rem;
        padding: 4rem;
        border-radius: 1rem;
    }
    .SectionDos .DivInfoDos img{
        height: 5rem;
        margin-bottom: 2rem;
    }
    .SectionDos .DivInfoDos h3{
        font-size: 2rem;
    }
    .SectionDos .DivInfoDos p{
        font-size: 1.2rem;
    }
    .SectionTres{
        margin-top: 4rem;
    }
    .SectionTres .texto p{
        font-size: 1.3rem;
    }
    .SectionTres .texto h2{
        font-size: 5rem;
    }
    .SectionTres .DivInfo .DivInfoDos{
        width: 25rem;
        margin-bottom: 1rem;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .SectionTres .DivInfoDos img{
        height: 16rem;
        margin-bottom: 1rem;
    }
    .SectionTres .DivInfoDos .TextoDos .TextoTres{
       font-size: 1.3rem;
    }
    .SectionTres .TextoDos{
        margin-bottom: 1rem;
    }
    .SectionTres .TextoDos .icono{
        height: 1.5rem;
    }
    .SectionTres .TextoDos p{
        font-size: 1rem;
    }
    .SectionTres .DivInfoDos h3{
        font-size: 2rem;
    }
    .SectionCuatro .texto p{
        font-size: 1.3rem;
    }
    .SectionCuatro .texto h2{
        font-size: 5rem;
    }
    .SectionCuatro .TextoDos p{
        font-size: 1rem;
    }
    .SectionCuatro .TextoDos h2{
        font-size: 3rem;
        margin-bottom: 4rem
    }
    .SectionCuatro .TextoDos .divdos{
        width: 30rem;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 0.6rem;
    }
    .SectionCuatro .TextoDos .divtres{
        padding-bottom: 3rem;
    }
    .SectionCuatro .divtres h3{
        font-size: 2rem;
    }
    .SectionCuatro .divdos .divtres p{
        font-size: 1.1rem;
    }
    .SectionCuatro .divdos .divtres strong{
        height: 1.5rem;
        width: 3.7rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 0.6rem;
        border-radius: 0.5rem;
    }
    .SectionCuatro .divdos .TextoTres{
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .SectionCuatro .divtres .hr1{
        width: 0.4rem;
        height: 4rem;
        margin-left: 0.6rem;
    }
    
    .SectionCuatro .divtres .circle{
       
        border: 0.4rem solid #111214;
        border-radius: 50%;
        height: 0.9rem;
        width: 0.9rem;
    }
    
    .SectionCuatro .divtres .hrhorizontal{
        border: none;
        background-color: #111214;
        width: 1.2rem;
        height: 0.4rem;
    }
    
    .SectionCuatro .divtres .hr2{
        width: 0.4rem;
        height: 16rem;
        margin-left: 0.6rem;
    }
    
    .SectionCuatro .divtres .hr3{
        width: 0.4rem;
        height: 18rem;
        margin-left: 0.6rem;
    }
    
    .SectionCuatro .divtres .hr4{
        width: 0.4rem;
        height: 13.5rem;
        margin-left: 0.6rem;
    }
    .SectionCinco{
        padding-bottom: 7rem;
    }
    .SectionCinco .DivInfo .DivInfoDos{
        border-radius: 0.6rem;
        padding: 2rem;
        width: 37%;
    }
    .SectionCinco .texto p{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .SectionCinco .texto h2{
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    
    .SectionCinco .DivInfo .imagen{
        height: 18.4rem;
        border-radius: 0.7rem;
        margin-bottom: 2rem;
    }
    
    .SectionCinco .DivInfoDos h3{
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
    
    .SectionCinco .DivInfoDos p{
        margin-bottom: 2rem;
        font-size: 1.2rem;
        
    }
    
    .SectionCinco .DivInfoDos h4{
        font-size: 1.2rem;
        font-weight: normal;
        
    }
    
    .SectionCinco .DivInfoDos strong{
       font-size: 1.2rem;
    }
    
    .SectionCinco .DivInfoDos .TextoDos{
        margin-bottom: 2rem;
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    
    .SectionCinco .DivInfoDos .TextoTres{
        display: flex;
        margin-bottom: 1rem;
    }
    
    .SectionCinco .DivInfoDos .icono{
        height: 4rem;
        width: 4rem;
        margin-right: 1.5rem;
        border-radius: 0.5rem;
        
    }
    
    .SectionCinco .DivInfoDos .icono img{
        height: 1.2rem;
        width: 1.2rem;
        
    }
    .SectionCinco .DivInfo .DivInfoTres{
        border-radius: 0.6rem;
        padding: 2rem;
        width: 50%;
        padding-bottom: 5rem;
    }
    
    .SectionCinco .divuno{
        margin-bottom: 2rem;
    }
    
    .SectionCinco .divuno p{
        margin-bottom: 1rem;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    
    .SectionCinco .divuno input{
        width: 21.4rem;
        height: 3.5rem;
        border-radius: 0.5rem;
    }
    
    .SectionCinco .divdos p{
        margin-bottom: 1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .SectionCinco .divdos input{
        width: 100%;
        height: 3.5rem;
        border-radius: 0.5rem;
    }
    
    .SectionCinco .divtres p{
        margin-bottom: 1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .SectionCinco .divtres textarea{
        
        width: 100%;
        height: 14rem;
        border-radius: 0.5rem;
    }
    
    .SectionCinco .divtres .boton{
        height: 3.5rem;
        width: 13rem; 
        margin-top: 1rem;
    }
    
    .SectionCinco .divtres .boton p{
        align-items: center;
        justify-content: center;
        color: #DE0748;
        margin-right: 0.5rem;
    }
    
    .SectionCinco .divtres .boton img{
        margin: 0;
        height: 1rem;
    }
    footer h2{
        margin-top: 2rem;
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
    footer p{
        font-size: 1rem;
    }
}

@media (max-width:1023px){
    header nav .texto .TextoDos{
        display: none;
    }
    header nav .texto .boton{
        display: none;
    }
    header .texto .DivInfo{
        display: none;
    }
    header .imagen img{
        margin: 0;
        padding: 0;
        display: block;
        height: 3rem;
    }
    .hero .DivInfo{
        flex-direction: column;
        margin-top: 2rem;
    }
    .hero .texto .TextoDos{
        display: none;
    }
    .hero .texto h1{
        display: none;
    }
    .none {
        display: block;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .hero .imagen{
        height: 18rem;
        width: 15rem;
    }
    .hero .imagen img{
        height: 23rem;
    }
    .none div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .none .TextoDos{
        font-family: 'PT Sans', sans-serif;
        color: #C4D0DF;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .none h1{
        font-family: 'PT Sans', sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    
    .none  strong{
        color: #DE0748;
        font-weight: bolder;
    } 
    
    .SectionDos .texto h2{
        margin-bottom: 3rem;
    }
    .SectionDos .DivInfo{
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
    } 
    .SectionDos .DivInfo .DivInfoDos{
        margin-bottom: 2rem;
        width: 12rem;
    }
    .SectionTres .DivInfo {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .SectionTres .DivInfo .DivInfoDos{
        width: 14rem;
        margin-bottom: 2rem;
    }
    .SectionTres .DivInfoDos img{
        height: 9rem;
    }
    .SectionCuatro .texto h2{
        margin-bottom: 2rem;
    }
    .SectionCinco .DivInfo{
        flex-direction: column;
    }
    .SectionCinco .DivInfo .DivInfoDos{
        width: 100%;
        margin-bottom: 2rem;
    }
    .SectionCinco .DivInfoDos .imagen{
        display: none;
    }
    .SectionCinco .DivInfo .DivInfoTres{
        width: 100%;
    }
    .SectionCinco .DivInfoTres .divuno input{
        width: 15rem;
    }
}